[submodule "libs/ethz_piksi_ros"]
	path = libs/ethz_piksi_ros
	url = https://github.com/ethz-asl/ethz_piksi_ros
[submodule "libs/xsens_mti_ros_node"]
	path = libs/xsens_mti_ros_node
	url = https://github.com/xsens/xsens_mti_ros_node
