<!-- EarthRover Localization 
Reads location from yaml file to update ENU origin of map, location and convergence value
Author: Andres Felipe Palomino (apalomino@edgebrain.io)
-->

<launch>

  <!-- Location of the file containing location of origin ENU frame-->
  <arg name="enu_origin_file"             default="$(find earth_rover_localization)/cfg/enu_origin.yaml"/>
  <!-- Load enu origin from file -->
  <rosparam file="$(arg enu_origin_file)"/>

  <!-- Set datum node-->
  <node pkg="earth_rover_localization" type="set_datum" name="set_datum_client" output="screen" respawn="true" respawn_delay="30"/>

</launch>

