<!-- Copyright (C) 2019 Earth Rover Limited. All rights reserved. -->

<!-- Scouting system
  This file launches the local localization system for the rover navigation.
  Author: Pablo Gómez-Cambronero Martín (pablo.gomez-cambronero@earthrover.farm)
  Date: 07/2020
-->

<launch>

  <!-- Odom Frame  -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_ugv_odom" args="0 0 0 0 0 0 map ugv_odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 map odom" />

  <!-- Sensors -->
	<!-- Imu driver -->
  <node name="xsens_mti" pkg="xsens_driver" type="mtnode.py" respawn="true">
      <rosparam command="load" file="$(find earth_rover_localization)/cfg/imu.yaml"/>
  </node>

  <!-- Heading Listener node-->
  <node pkg="earth_rover_localization" type="heading_listener" name="heading_listener" output="log" />

  <!-- EKF node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find earth_rover_localization)/cfg/ekf_local_rover_localization.yaml" />
    <remap from="/odometry/filtered" to="/odometry/filtered/local"/>
  </node>


 </launch>
