<launch>

  <node pkg="tf2_ros" type="static_transform_publisher" name="scouting_base_link" args="0 0 0 0 0 0 scouting_base_link scouting_wrt_ground_link" />

  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find earth_rover_localization)/cfg/ekf_params.yaml" /> -->

    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

    <!-- Load the scouting box model -->
  <include file="$(find earth_rover_scouting_system)/launch/scouting_model.launch" >
    <arg name="model" value="tfl30" />
  </include >

  <!-- Launch localization node -->
  <include file="$(find earth_rover_localization)/launch/robot_localization_node.launch" />



  <!-- </node> -->
</launch>
