<launch>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_cam" args="0 0 0 0 0 0 map camera_0_link" /> -->
  <arg name="cam_suffix"        default="_0"/>
  <arg name="input_rgb_info"    default="/camera$(arg cam_suffix)/color/camera_info" />
  <arg name="input_rgb_img"     default="/camera$(arg cam_suffix)/color/image_raw" />
  <arg name="output_depth_rgb_img"    default="/camera$(arg cam_suffix)/aligned_depth_to_color/image_raw" />
  <arg name="odom_topic"        default="odom"/>

  <include file="$(find earth_rover_localization)/launch/er_rtabmap_node.launch" >
    <arg name="rtabmapviz"          value="false" />
    <arg name="use_sim_time"        value="false" />
    <arg name="rgb_topic"           value="$(arg input_rgb_img)" />
    <arg name="camera_info_topic"   value="$(arg input_rgb_info)" />
    <arg name="depth_topic"         value="$(arg output_depth_rgb_img)" />
    <arg name="args"                value="--delete_db_on_start"/>
    <arg name="approx_sync"         value="false"/>
    <arg name="frame_id"            value="camera$(arg cam_suffix)_link"/>
    <arg name="odom_topic"          value="$(arg odom_topic)"/>
  </include>

</launch>
