<!-- EarthRover Localization 
  This file includes nodes to launch Piksy driver, Xsense driver  
-->

<launch>

	<!-- Piksi Reference receiver -->
	<include file="$(find er_localisation)/launch/piksi_multi_rover_reference.launch"/>

	<!-- Piksi Attitude receiver -->
	<include file="$(find er_localisation)/launch/piksi_multi_rover_attitude.launch"/>

	<!-- Imu driver -->
	<include file="$(find xsens_driver)/launch/xsens.launch"/>  

</launch>